---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

img {
  display: block;
  max-width: 600px;
  margin: 30px 0;
  @include media-query($on-palm) {
    max-width: 100%;
  }
}

p {
  a {
    text-decoration: underline;
    font-weight: 400;
  }
}
