/**
 * Site header
 */
.site-header {

  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
  margin-bottom: $spacing-unit * 3;
}

.site-title {
  @include relative-font-size(1);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding: 0 20px;
  position: relative;


  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:first-of-type {
    padding-left: 0;
  }

  &.home  {
    font-weight: 600;
  }

  &.active {
    text-decoration: underline;
    &::before {
      content: '✌︎';
      color: black;
      position: absolute;
      right: 4px;
      font-size: 20px;
    }
  }
}

.nav-menus {
  display: flex;
  flex-direction: row;
  @include media-query($on-palm) {
    border-bottom: 1px solid silver;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.list-content {
  p {
    max-width: 440px;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(1);
}

.post-list-heading {
  @include relative-font-size(1.2);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #b7b7b7;

    & > * {
      padding-right: 20px;
    }
  }
}

.post-categories {
  text-transform: uppercase;
  width: 80px;
  font-size: 14px;
  font-weight:400;

  @include media-query($on-palm) {
    display: none;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin: 10px 0 !important;
}

.meta-strong {
  font-weight: 400;
  color: #666;
  display: block;

  @include media-query($on-laptop) {
    display: inline;
  }
}

.meta-categories {
  padding-top: 40px;
}

.post-link {
  display: block;
  flex: 1 0 auto;
  // @include relative-font-size(1.5);
  // font-weight: 600;
}


.post {
  display: flex;
  flex-direction: row;

  @include media-query($on-laptop) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  flex: 0 1 240px;
  padding-right: 30px;

  @include media-query($on-laptop) {
    width: 100%;
    flex: initial;
    padding-right: initial;;
  }
}

.post-title {
  font-size: 18px;
  margin-right: 40px;

  @include media-query($on-laptop) {
    margin-right: initial;
  }
}

.post-content h1 {
  @include relative-font-size(1.8);
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.6);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  flex: 0 1 600px;

  @include media-query($on-laptop) {

  }

  a {
    text-decoration: underline;
  }

  h2 {
    @include relative-font-size(1.6);

    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
    }
  }

  h3 {
    @include relative-font-size(1.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.3);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  p {
    max-width: 400px;
  }
}
