---
layout: default
---

<div class="home">
  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "writings" }}</h2> -->
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}</a>
      <span class="post-categories">{{ post.categories }}</span>
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>
